section header h2 { 
  color: silver;
}

header {
  padding: 40px;
  text-align: right;
}

article p {
  background-color: yellow;
  font-family: cursive;
  border-radius: 150px;
}

body header h1 {
  font-size: 1.2em;
}

section widget h4 {
  border-radius: 5px;

}

footer {
  color: red;
}

#favecolor {
  color: #FFE135;
}

section p {
  font-family: serif;
}

.list {
  list-style-type: square;
}